html *,
html ::after,
html ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

input[type="checkbox" i] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
