.todo-wrapper {
  max-width: 1170px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.todo-wrapper img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.todo-container {
  max-width: calc(1170px - 30px);
  width: 100%;
  margin: 0 auto;
}
.todo-main {
  max-width: 550px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.todo-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 10px 42px;
}
.todo-display {
  display: -ms-grid;
  display: grid;
}
.todo__title {
  margin-bottom: 18px;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}
.todo-display__label {
  font-size: 12px;
  line-height: 1;
  color: #666;
  opacity: 0.7;
}
#todo-display__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px 0px;
  font-size: 15px;
  color: #666;
  border-bottom: 1px solid black;
}
#todo-display__input::-webkit-input-placeholder {
  color: #666;
  opacity: 0.3;
}
#todo-display__input::-moz-placeholder {
  color: #666;
  opacity: 0.3;
}
#todo-display__input:-ms-input-placeholder {
  color: #666;
  opacity: 0.3;
}
#todo-display__input::-ms-input-placeholder {
  color: #666;
  opacity: 0.3;
}
#todo-display__input::placeholder {
  color: #666;
  opacity: 0.3;
}
.todo-table {
  padding: 34px 0 40px 16px;
}
.todo-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9% 1fr 14%;
  grid-template-columns: 9% 1fr 14%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 35px;
}
.todo-item__checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
}
.todo-item__text {
  font-size: 15px;
  color: #333;
  cursor: pointer;
}
.todo-item__checkbox:checked {
  width: 28px;
  height: 23px;
  background: url(../img/checked.png) no-repeat;
  border: none;
}
.todo-item__checkbox:checked + .todo-item__text {
  text-decoration: line-through;
}
.todo-item__delete {
  -ms-grid-column-align: end;
  justify-self: end;
  cursor: pointer;
}
.todo-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47% 40%;
  grid-template-columns: 47% 40%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.todo-btns__remove-completed,
.todo-btns__remove-all,
.todo-modal__save,
.todo-modal__delete {
  width: 100%;
  height: 36px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  background-color: #27a69b;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.todo-btns__remove-completed,
.todo-btns__remove-all {
  font-size: 14px;
}
.todo-modal__save,
.todo-modal__delete {
  font-size: 12px;
}
.todo-btns__remove-completed:hover,
.todo-btns__remove-all:hover,
.todo-modal__save:hover,
.todo-modal__delete:hover {
  background-color: #92cfc8;
}
.todo-btns__remove-completed {
  max-width: 218px;
}
.todo-btns__remove-all {
  max-width: 188px;
}
.todo-modal__save,
.todo-modal__delete {
  max-width: 188px;
}
.todo-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
}
.todo-modal__bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.todo-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 550px;
  padding: 40px;
  text-align: left;
  font-size: 18px;
  border: 3px solid #333333;
  background: #f1f1f1;
  -webkit-box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.todo-modal__coll {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  column-gap: 6px;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
}
#todo-modal__text {
  padding: 10px;
}
.todo-modal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  column-gap: 6px;
}
.todo-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  margin-left: auto;
  display: block;
  background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM2NXB0IiB2aWV3Qm94PSIwIDAgMzY1LjcxNzMzIDM2NSIgd2lkdGg9IjM2NXB0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmNDQzMzYiPjxwYXRoIGQ9Im0zNTYuMzM5ODQ0IDI5Ni4zNDc2NTYtMjg2LjYxMzI4Mi0yODYuNjEzMjgxYy0xMi41LTEyLjUtMzIuNzY1NjI0LTEyLjUtNDUuMjQ2MDkzIDBsLTE1LjEwNTQ2OSAxNS4wODIwMzFjLTEyLjUgMTIuNTAzOTA2LTEyLjUgMzIuNzY5NTMyIDAgNDUuMjVsMjg2LjYxMzI4MSAyODYuNjEzMjgyYzEyLjUwMzkwNyAxMi41IDMyLjc2OTUzMSAxMi41IDQ1LjI1IDBsMTUuMDgyMDMxLTE1LjA4MjAzMmMxMi41MjM0MzgtMTIuNDgwNDY4IDEyLjUyMzQzOC0zMi43NS4wMTk1MzItNDUuMjV6bTAgMCIvPjxwYXRoIGQ9Im0yOTUuOTg4MjgxIDkuNzM0Mzc1LTI4Ni42MTMyODEgMjg2LjYxMzI4MWMtMTIuNSAxMi41LTEyLjUgMzIuNzY5NTMyIDAgNDUuMjVsMTUuMDgyMDMxIDE1LjA4MjAzMmMxMi41MDM5MDcgMTIuNSAzMi43Njk1MzEgMTIuNSA0NS4yNSAwbDI4Ni42MzI4MTMtMjg2LjU5Mzc1YzEyLjUwMzkwNi0xMi41IDEyLjUwMzkwNi0zMi43NjU2MjYgMC00NS4yNDYwOTRsLTE1LjA4MjAzMi0xNS4wODIwMzJjLTEyLjUtMTIuNTIzNDM3LTMyLjc2NTYyNC0xMi41MjM0MzctNDUuMjY5NTMxLS4wMjM0Mzd6bTAgMCIvPjwvZz48L3N2Zz4=);
  background-size: cover;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .todo-modal__content {
    padding: 30px;
  }
  .todo-modal__coll {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 10px;
  }
}

@media (max-width: 466.98px) {
  .todo-inner {
    padding: 10px 5px;
  }
  .todo-table {
    padding: 15px 0;
  }
  .todo-btns__remove-completed,
  .todo-btns__remove-all {
    font-size: 10px;
  }
}
